<div class="chat_message chat_message__incoming" style="{{style}}">
    <label class="chat_message__text">{{text}}</label>
    <div class="chat_message__time">
        <label class="chat_message__date">{{date}}</label>
    </div>
</div>