<div class="chat_item">
    <div class="chat_item__block">
        {{> image class='chat_item__photo' src=defaultPhoto altText="Аватар"  height="47" width="47"}}
        <div class="chat_item__info">
            <label class="chat_item__name">{{name}}</label>
            <label class="chat_item__last">{{lastText}}</label>
            <label class="chat_item__date">{{lastDate}}</label>
            <label class="chat_item__cnt">{{cnt}}</label>
        </div>
    </div>
    <div class="chats_separator"></div>
</div>