<div class="not_found">
    <span class="not_found_title">404</span>
    <span class="not_found_text">Не туда попали</span>
    {{> link class ='not_found_link' text='Назад к чатам' href='/chats'}}
</div>
